.wrapper {
  width: 1440px;
  margin: 0 auto;
}
/* Header section */
.header {
  height: 300px;
}
.header-container {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 300px;
  background: #4169e1;
}
.nav-links {
  display: flex;
  gap: 50px;
  width: 400px;
  margin: 0;
  list-style-type: none;
}
.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px 25gitpx 10px;
  border: dashed 2px #fff;
  border-radius: 10px;
}
.nav-link:hover {
  position: relative;
  bottom: 20px;
  transition: all 4s;
}

/* about section*/
.about-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.main-header {
  color: #1e90ff;
  font-size: 2.5rem;
}
.about-info {
  color: #87cefa;
  font-size: 1.25rem;
}
.about-video {
  width: 80%;
}