:root {
  --header-color: #4b0082;
}
body {
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #4169e1; 

}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.main-header {
  text-align: center;
  color: var(--header-color);
  font-size: 2.5rem;
}
.section-header {
  text-align: center;
  font-size: 2rem;
  color: var(--header-color);
}
/* Header section */
.header {
  height: 250px;
}
.header-container {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 250px;
  background: #4169e1;
}
.nav-links {
  display: flex;
  gap: 50px;
  width: 450px;
  margin: 0;
  list-style-type: none;
}
.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px 25px 10px;
  border: dashed 2px #fff;
  border-radius: 10px;
}
.nav-link:hover {
  position: relative;
  bottom: 20px;
  transition: all 4s;
}

/* about section*/
.about-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.about-video {
  width: 80%;
}
/* Features section */
.features-container {
  background: #ffe4b5;
}
.features-list {
  line-height: 1.5em;
}
/* Screenshot section */
.screenshots-section {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.screenshot-big {
  width: 920px;
  height: 540px;
  border: #ffe4b5;
}
.screenshot-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.screenshot-small {
  width: 250px;
  height: 150px;
  border: #ffdab9;
}

/* Footer section */
.footer {
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  background: #4169e1;
}
.copyright-info {
  font-size: 0.75rem;
  color: #fff;
}

/* Blog page */
.blog-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.article-header {
  text-align: center;
}
.article-image {
  margin: 0 30px 20px 0;
}
.article-image-left {
  float: left;
}
.article-date {
  text-align: right;
}

/* Gallery page */
.gallery-container {
  display: flex;
  justify-content: center;
}
.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 800px;
  border: dashed 2px #4169e1;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}